@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap');
:root{
  --primary: #ffffff;
  --secondary: #ffffff;
  --error: #ff4a4a;
  background-color: black;
}

/* base styles & title */
body{
  font-family: 'Spartan', sans-serif;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

.title p{
  text-align: center;
  font-size: 3.0;
}




/* upload form styles */

form{
  margin: 30px auto 15px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  margin: 15px auto;
  line-height: 35px;
  color: var(--primary);
  font-weight: bold;
  font-size: 26px;
}
label:hover{
  background: var(--primary);
  border-color: black;
  color: rgb(0, 0, 0);
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}


/* progress bar styles */

.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top:20px;
}





/* image grid styles */


/* modal styles */